* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.main {
  display: grid;
  grid-template-rows: 0.6fr 8fr 0.5fr;
  height: 100%;
}
body {
  margin: auto;
  height: 170vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  width: 100vw;
  background-color: #eee;
  overflow-x: hidden;
}
#header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
  z-index: 1;
}
.cont {
  width: 70%;
  margin: auto;
  display: flex;
  height: 100%;
  position: static;
  margin-top: 6rem;
  flex-direction: column;
}
#header nav {
  list-style: none;
  display: flex;
  width: 30%;
  margin: 2vh;
  justify-content: space-between;
  margin: auto;
  margin-right: 2vw;
  text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}

#header div {
  display: inline-block;
  width: 35%;
  margin: 2vh 3.5vw;

  height: 2rem;
}
#header img {
  width: 60%;
}
h2,h1 {
  width: 70%;
  margin: auto;
}
p {
  width: 70%;
  margin: auto;
  font-size: 2vh;
}
.sec1 {
  width: 70%;
  margin: auto;
  display: flex;
  padding-top: 1vh;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#mail {
  width: 35%;
  display: block;
  margin: auto;
  margin-top: 2vh;
  height: 3.5vh;
}
#sub {
  width: 20%;
  height: 4vh;
  display: block;
  margin: auto;
  margin-top: 2vh;
  background-color: gold;
  font-weight: 900;
  font-size: 2.5vh;
  cursor: pointer;
  border:none;
}
#sub:hover{
    background-color: goldenrod;
}
#features {
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  position: relative;
  left: 5vw;
  top:-2vh
}
i {
  color: #ff8c00;
  width: 80px;
  height: 150px;
  display: inline;
  font-size: 3rem;
  text-align: center;
  vertical-align: center;
  position: relative;
  top: 50%;
}
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 100%;
  }
.video{
    margin:auto;
}

#pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 0.2rem;
  }
  
  .pricing {
      width: 20%;
      height: 40vh;
    border: solid #333 1px;
    border-radius: 2px;
    text-align: center;
  }
.pricing h3{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
}

h2{
    font-weight: 500;
}
.pricing p{
    font-weight: 400;
    font-size: 2.5vh;
    top:10%;
    position: relative;

}
#select{
    position: relative;
    top:20%;
    background-color: gold;
    font-size: 15px;
    padding: 5px;
    border:none;
    border-radius: 0.5vh;
}
#select:hover{
    background-color: goldenrod;
    
}
.footer{
    width: 60%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
    
}
#foot, #copy{
    display: flex;
    gap:5vw;
    justify-content: center;
}
.footer nav li{
    list-style: none;
}
@media only screen and (max-width: 800px) {
    #nav-bar {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1.5rem 0.3rem;
    }
    .cont{
        margin-top: 15vh;
    }
  
    #navbar ul li {
      padding: 1rem 1rem;
    }
    #mail{
        width:50%;
        font-size: 50%;
    }
    #sub{
        font-size: 10px;
        width: 50%
    }
     .features {
        display: flex;
      flex-direction: column;
      padding: 1rem;
      margin: 0.5rem;
      text-align: center;
      margin-bottom: 2rem;
    
    }
    .features p{
        font-size: 12px;
    }
  
    #how-it-work {
      padding: 1rem;
    }
  
    .video {
      width: 100%;
      height: 100%;
    }
  
    #pricing {
        flex-direction: column;
      }
    
      .pricing {
        margin: 1rem;
        width: 80%;
      }
      
    i{
        font-size: 2em;
        left: -25px;
    }
  
    
    .footer {
      padding: 1.5rem 0.5rem;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
  
    
  }